@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,400italic,500,700,500italic);

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
	vertical-align: baseline; 
	vertical-align: baseline; 
	font-family: inherit; 
	font-weight: inherit; 
	font-style: inherit; 
	font-size: 0; 
	outline: 0; 
	padding: 0; 
	margin: 0; 
	border: 0; 
} 
/* remember to define focus styles! */ 
:focus { 
	outline: 0; 
} 

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 0;
	font-family: 'Roboto', sans-serif;	
}
/****************************************/

header > .container {
	height: 115px;
}
.container {
	min-width: 1200px;
	padding: 0 20px;
	margin: auto;
	width: 1240px;
	position: relative;
}
header .logo{
	margin-top: 20px;
}
header .logo ,
header .logo a ,
header .sett,
header .top .number {
	display: inline-block;
	vertical-align: middle;
}
header .top .number {
	width: 203px;
}
header .top{
	margin-bottom: 5px;
}
header .setting {
	display: inline-block;
	margin-top: 15px;
	position: absolute;
	right: 20px;
	top: 0;
	margin-bottom: 10px;
}
header .top  span {
	font-size: 13px;
	font-weight: 400;
	color: #979797;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;	
}
header .top img {
	display: inline-block;
	vertical-align: middle;
}
header .top .number span {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;	
	color: #414141;
	margin-left: 12px;
}
header .callback {
	width: 232px;
	height: 35px;
	font-size: 12px;
	text-transform: uppercase;
	color: #37447c;
	font-weight: 400;
	background-color: #fff;
	border: 1px solid rgba(74, 85, 132,0.3);
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin: 0 20px 0 0px;
}
header .sign {
	display: inline-block;
	vertical-align: middle;
}
header .regis {
	display: inline-block;
	margin-right: 17px;
}
 
header form {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 20px;
}
header input {
	width: 435px;
	height: 38px;
	border: 1px solid rgba(174, 174, 174,0.5);
	font-size: 12px;
	padding: 0 20px 0 48px;
	color: #929292;
}
header form button {
	width: 45px;
	height: 38px;	
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border: 0;
	background: url(../img/header/search.png) center no-repeat;
	cursor: pointer;
}
header .cart {
	display: inline-block;
	vertical-align: bottom;
	width: 180px;
	height: 52px;
	background: #414141 url(../img/header/cart.png)  120px  4px no-repeat;
	padding: 8px 15px;
}
header .cart .number,
header .cart span {
	font-size: 12px;
	color: rgba(255,255,255,00.5);
	font-weight: 400;
}
header .cost,
header .cost span {
	font-size: 15px;
	color: #f89a3a;
	font-weight: bold;
	line-height: 20px;
}

/****************************/
header .nav_menu {
	clear: both;
	height: 55px;
	background: #ececec;
	box-shadow: 0 4px 4px rgba(31, 31, 31,0.2);
	-moz-box-shadow: 0 4px 4px rgba(31, 31, 31,0.2);
	-webkit-box-shadow: 0 4px 4px rgba(31, 31, 31,0.2);
	position: relative;
	width: 100%;
	display: table;
}
 .catalog {
	width: 265px;
	display: inline-block;	
}
.catalog > li > a {
	width: 265px;
	display: inline-block;
	height: 55px;
	background: #e53516;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #ecf0ff;
	line-height: 55px;
	padding: 0 30px;
	position: relative;
	z-index: 200;
}
 
.catalog > li > a img{
	position: absolute;
	right: 25px;
	margin-top: 23px;
}

.list_catalog {
	background: #ff4c2d;
	width: 100%;
	box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);
	-moz-box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);
	-webkit-box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);
}
.catalog > li .list_catalog{
	opacity: 0;
	transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);	
	-moz-transform: rotateY(90deg);
	-webkit-transform: rotateX(90deg);	
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top ;	
	position: absolute;
	right: 0;
	left: 0;
	top: 100%;
	z-index: 800;
	visibility: hidden;
}
.catalog > li{
	position: relative;
}
.catalog > li:hover .list_catalog{
	visibility: visible;
	opacity: 1;
	 display: table;
	 transform: rotateX(0deg);
	 -o-transform: rotateX(0deg);
	 -ms-transform: rotateX(0deg);
	 -moz-transform: rotateX(0deg);
	 -webkit-transform: rotateX(0deg);		
}
 .list_catalog > li{
	list-style:disc;
	list-style-type: none;
	margin-left: 0;
	font-size: 15px;
	color: #fdc82b;
}
 .list_catalog > li:last-child{
	border-width: 0;
}
 
 .list_catalog > li > a {
	display: list-item;
 	list-style:disc;
	list-style-type: disc;
	list-style-position: inside;
	text-decoration: none;
	line-height: 20px;
	width: 265px;
	min-height: 40px;
	padding: 12px 0 12px 30px;
	border-bottom: 1px solid #e53516;	
	font-size: 15px;
	color: #fdc82b;	
}
.list_catalog > li > a h5{
	font-size: 15px;
	display: inline-block;
	font-weight: 400;
	color: #fff;	
	width: 190px;
	padding-left: 10px;
	vertical-align: top;
}
 .list_catalog > li.active > a h5{
	font-weight: bold;
}

.list_catalog > li.active > a{
	background: #ff4f31;
	border-bottom: 0;
}
/**********************/
.list_catalog > li.active > .list_lvl2{
	display: table;
}
.list_lvl2 a {
	display: list-item;
 	list-style-image: url(../img/header/arrow_right.png);
	list-style-position: inside;
	text-decoration: none;
	line-height: 14px;
	width: 265px;
	padding: 0 0 0 30px;
	font-size: 15px;
	color: #fdc82b;	
	margin-top: 15px;
}
 .list_catalog a h5{
	font-size: 14px;
	display: inline-block;
	font-weight: 400;
	color: #000;	
	width: 210px;
	padding-left: 10px;
	vertical-align: top;	
	line-height: 18px;
}
.list_lvl2   {
	background: #f24223;
	display: none;
	width: 100%;
	padding-bottom: 15px;
}
header .nav_page {
	display: inline-block;
	vertical-align: top;
	padding-left: 37px;
	width: 935px;
}
header .nav_page li {
	display: inline-block;
	vertical-align: top;
	margin-right: 41px;
}
header .nav_page li:last-child{
	margin-right: 0;
}
header .nav_page a {
	font-size: 15px;
	height: 55px;
	display: block;
	color: #414141;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	line-height: 55px;
}
header .nav_page a span{
	font-size: 15px;
	height: 55px;
	display: inline-block;
	color: #414141;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	line-height: 55px;
	color: #e53516;
	vertical-align: middle;
	margin-left: 10px;
}
header .nav_page .action img {
	vertical-align: middle;
	 
}
header{
	position: relative;
}
header .nav_inside{
	position: absolute;
	bottom: -22px;
	right: 0;
	left: 0;
	z-index: 120;
}
header .nav_inside ul{
	margin-left: 300px;
}
header .nav_inside li{
	display: inline-block;
	font-size: 12px;
	margin-right: 12px;
	color: #000;
}
header .nav_inside li a{
	font-size: 12px;
	text-decoration: none;
	color: #5e5e5e;
	margin-right: 5px;
} 

header.product .nav_inside ul{
	margin-left: 0;
}
/*footer*/
footer .footer_top {
	background: #2e2e2e;
	display: table;
	width: 100%;
	min-height: 95px;
}
footer .footer_top .container {
	padding-top: 18px;
}
footer .logo {
	display: inline-block;
	vertical-align: middle;
}
footer .footer_top a{
	font-size: 18px;
	color: #e6e6e6;
	display: inline-block;
	margin-left: 10px;
	font-weight: 400;
	text-decoration: none;
}
footer ul.contact {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 20px;
	top: 30px;
}
footer .contact li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
footer .footer_top .mail {
	font-size: 14px;
}
footer button {
	width: 235px;
	height: 35px;
	border: 0;
	background: #ff4c2d;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	margin-left: 10px;
}
footer p {
	font-size: 12px;
	color: #e6e5e6;
	font-weight: 400;
	margin-left: 40px;
}
footer  .container .nav_footer {
	width: 20.5%;
	display: inline-block;
	vertical-align: top;
}
footer .container .nav_footer .title {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	color: #414141;
	margin-top: 40px;
	margin-bottom: 16px;
}
footer .container .nav_footer ul li {
 	list-style:disc;
	list-style-type: disc;
	list-style-position: inside;
	text-decoration: none;
 
	font-size: 14px;
	color: #e53516;		
}
footer .container .nav_footer ul a {
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
	color: #414141;
	width: 75%;
	display: inline-block;
	margin-bottom: 14px;
	vertical-align: TOP;
 	
}
footer .container .nav_footer.catalog li:last-child {
	list-style: none; 
}
footer .container .nav_footer.catalog li:last-child  a{
	text-transform: uppercase;
	margin-left: 10px;
}
footer .nav_footer.social{
	padding-left: 35px;
	width: 18%;
}
footer .nav_footer.social ul li {
	list-style-type: none;
	list-style: none;
	display: inline-block;
	margin-right: 12px;
}
footer .nav_footer.social ul li:last-child {
	margin-right: 0;
}
footer{
	padding-bottom: 30px;
}
/**content-catalog***/
.content{
	background: url(../img/bg.png);
	display: table;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 70px;
} 
.content .sidebar {
	width: 265px;
	display: inline-block;
	vertical-align: top;
	margin-top: -30px;
	margin-bottom: 50px;
}
.content .sidebar .list_catalog {
	display: table;
	font-family: 'Roboto', sans-serif;	
	position: relative;
	z-index: 100;
	margin-bottom: 10px;
}
.content .info li {
	margin-bottom: 10px;
}
.content .info li a {
	display: block;
	height: 125px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;		
	padding: 24px 28px; 
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;	
}
.content .action a{
	background: #535353 url(../img/content/1.png) 90% center  no-repeat; 
}
.content .info li h4 {
	font-size: 26px;
}
.content  .info li h5 {
	font-size: 14px;
	margin-top: 8px;
}
.content .delivery a {
	background: #4a5584 url(../img/content/2.png) 90% center  no-repeat; 
}
.content .payment a {
	background: #f8a047 url(../img/content/3.png) 90% center  no-repeat; 	
}


/************************/
.list_content{
	width: 930px;
	display: inline-block;
	padding-left: 25px;

}
.list_content li{
	display: inline-block;
	vertical-align: top;
    width: 295px;
	margin-right: 10px;
	box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);
	-moz-box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);
	-webkit-box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);	
	margin-bottom: 10px;
}
.list_content li:nth-child(3n){
	margin-right: 0;
}
.list_content li a{
	display: block;
    height: 317px;	
	background: #fff;
	text-decoration: none;
}
.list_content li a .image{
	display: block;
	height: 262px;
	overflow: hidden;
	text-align: center;
	line-height: 262px;
}
.list_content li a .image img{
	vertical-align: middle;
}
.list_content li .title{
	font-size: 15px;
	display: block;
	height: 55px;
	text-align: center;
	line-height: 55px;
	text-transform: uppercase;
	background: #ff4c2d;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	color: #fff;
} 


/*****************/
.info_product{
	background: #fff;
	padding: 40px 25px;
	box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);
	-ms-box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);
	-moz-box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);
	-webkit-box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);	
}
.app-figure{
	display: inline-block;
}
.app-figure .selectors{
	display: inline-block;
	vertical-align: middle;
}
.app-figure .selectors a{
	display: table;
	margin-bottom: 12px;
}
.app-figure > a{
	vertical-align: middle;
	display: inline-block;
	width: 450px;
	height: 450px;
	margin-left: 20px;
	text-align: center;
	line-height: 450px;
	padding-top: 45px;
	background: #fff;
	border: 1px solid #d4d4d4;
}
.app-figure > a img{
	vertical-align: middle;
	display: inline-block;
}

/*star*/
/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url('../img/content/product/star.png') 0 0 no-repeat;
 
}
#reviewStars-input {
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  position: relative;
  display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 20px;
  height: 18px;
  position: absolute;
  top: 0;
  z-index: 0;
}

#reviewStars-input input:checked ~ label {
  background-position: 0 -18px;
  height: 18px;
  width: 20px;
}

#reviewStars-input label {
  background-position: 0 0;
  width: 20px;
  height: 18px;
  float: right;
  cursor: pointer;
  margin-right: 6px;
  position: relative;
  z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background-position: 0 -18px;
  width: 20px;
  height: 18px;
}

 /*********************/
.content *{
	font-family: 'Roboto', sans-serif;	
}
.info_product .right_info{
	display: inline-block;
	vertical-align: top;
	width: 535px;
	margin-left: 30px;
}
 
.info_product .right_info {
}
.info_product .right_info h3 {
	font-size: 18px;
	font-weight: 600;
	color: #414141;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.info_product .prod_inf_list {
}
.info_product li {
	margin-bottom: 13px;
	clear: both;
}
.info_product li h5 {
	font-size: 15px;
	font-weight: bold;
	color: #4a5584;
	display: inline-block;
	vertical-align: middle;	
}
.info_product li h6 {
	font-size: 15px;
	font-weight: 400;
	color: #4f4f4f;	
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;	
}
.info_product #reviewStars-input {
}
.info_product li:nth-child(3){
	margin-bottom: 18px;
} 
.info_product .cost {
	padding-top: 15px;
	border-top: 1px solid #e8e8e8;
	display: table;
	width: 100%;
	margin-bottom: 8px;
}
 
.info_product .cost h6 {
	text-decoration:line-through;
}
 
.info_product .new_cost h6 {
	color: #e53516;
	font-size: 30px;
	font-weight: 400;
	margin-left: 20px;
}
.info_product .new_cost h6 span{
	font-size: 30px;
	font-weight: 600;
	display: inline-block;
}
.info_product .num_prod .cont_number {
	vertical-align: middle;
	display: inline-block;
	border: 1px solid #e8e8e8;
	line-height: 18px;
	width: 95px;
	height: 30px;
	margin-left: 15px;
}
.info_product .num_prod h6 a{
	display: inline-block;
	width: 14px;
	line-height: 28px;
	font-size: 19px;
	color: #a7a7a7;
	vertical-align: middle;
	text-decoration: none;
	margin-left: 8px;
	position: relative;
	top: -2px;
}
.info_product .num_prod h6 #up{
	margin-left: 8px;
}
.info_product .num_prod h6 input,
.new_cost input{
	line-height: 30px;
	vertical-align: middle;
	border: 0;
	font-size: 15px;
	color: #4f4f4f;
	width: 40px;
	text-align: center;
	font-weight: bold;
	background-color: transparent;
}
.prod_inf_list .to_cart{
	width: 192px;
	height: 48px;
	border: 0;
	background: url('../img/content/product/cart.png') right top no-repeat;
	font-size: 16px;
	text-align: left;
	padding-left: 30px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	margin-top: 10px;
	transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;	
	box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;	
}
.prod_inf_list .to_cart:hover{
	 box-shadow: 0 3px 5px rgba(60, 60, 60,0.7);
	 -moz-box-shadow: 0 3px 5px rgba(60, 60, 60,0.7);
	 -webkit-box-shadow: 0 3px 5px rgba(60, 60, 60,0.7);		
}
.prod_inf_list .to_cart:active{
	top: 3px;
}

/*****************/
#tab-product {
	margin: 30px 0 40px;
	display: table;
	width: 100%;
}
#tab-product.tab-product{
}
#tab-product .tabs {
}
#tab-product .tab {
	width: 33.1%;
	display: inline-block;
	margin-right: 0.33%;
	background: #ececec;
	text-align: center;
 	
}
#tab-product .tab:last-child{
	margin-right: 0;
} 
#tab-product .tab  a {
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #414141;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;		
}
#tab-product .tab .active,
#tab-product .tab  a:hover{ 
	background: #414141;
	color: #fff;
}
#tab-product #tabs1 {
}
#tab-product table {
	border: 1px solid #e9e9e9;
 	border-bottom: 0;
	margin-left: 20px;
	margin-top: 20px;
}
#tab-product td {
	font-size: 14px;
	color: #414141;
	margin: 0!important;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #e9e9e9;	
	width: 215px;
	padding-left: 30px;
}
#tab-product td:nth-child(1){
	width: 345px;
	font-weight: 600;
	border-right: 1px solid #e9e9e9;
	padding-left: 20px;
	background: #f2f9ff;
}
#tab-product tr:nth-child(2n) td:nth-child(1){
	background: #ebf4fb;
}
#tab-product tr:nth-child(2n) td:nth-child(2){
	background: #f5f8fb;
} 

/****************/
.subscription_prod {
	width: 100%;
	height: 94px;
	margin: 15px 0;
 	background: url(../img/content/product/bg_rss.png) center no-repeat;
	line-height: 94px;
	box-shadow: 0 0px 5px rgba(60, 60, 60,0.2);
	-ms-box-shadow: 0 05px rgba(60, 60, 60,0.2);
	-moz-box-shadow: 0 0 5px rgba(60, 60, 60,0.2);
	-webkit-box-shadow: 0 0 5px rgba(60, 60, 60,0.2);		
}
.subscription_prod h3 {
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 125px;
}
.subscription_prod form {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 40px;
	line-height: normal;
}
.subscription_prod input {
	width: 450px;
	height: 47px;
	background: #ff7057;
	border: 0;
	font-size: 14px;
	padding: 0 55px 0 20px;
	color: rgba(255,255,255,.4);	
}
.subscription_prod button {
	height: 47px;
	width: 50px;
	border: 0;
	position: absolute;
	right: 0;
	top: 0;
	left: auto;
	background: url(../img/content/product/email.png) center no-repeat; 
}
.subscription_prod   ::-webkit-input-placeholder{
	color: rgba(255,255,255,.4);
}
.subscription_prod  ::-moz-placeholder{
	color: rgba(255,255,255,.4);
}
.subscription_prod  ::-ms-placeholder{
	color: rgba(255,255,255,.4);
}