@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,400italic,500,700,500italic);

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { 
	vertical-align: baseline; 
	vertical-align: baseline; 
	font-family: inherit; 
	font-weight: inherit; 
	font-style: inherit; 
	font-size: 0; 
	outline: 0; 
	padding: 0; 
	margin: 0; 
	border: 0; 
} 
/* remember to define focus styles! */ 
:focus { 
	outline: 0; 
} 

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 0;
	font-family: 'Roboto', sans-serif;	
}
/****************************************/

header > .container {
	height: 115px;
}
.container {
	min-width: 1200px;
	padding: 0 20px;
	margin: auto;
	width: 1240px;
	position: relative;
}
header .logo{
	margin-top: 20px;
}
header .logo ,
header .logo a ,
header .sett,
header .top .number {
	display: inline-block;
	vertical-align: middle;
}
header .top .number {
	width: 203px;
}
header .top{
	margin-bottom: 5px;
}
header .setting {
	display: inline-block;
	margin-top: 15px;
	position: absolute;
	right: 20px;
	top: 0;
	margin-bottom: 10px;
}
header .top  span {
	font-size: 13px;
	font-weight: 400;
	color: #979797;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;	
}
header .top img {
	display: inline-block;
	vertical-align: middle;
}
header .top .number span {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;	
	color: #414141;
	margin-left: 12px;
}
header .callback {
	width: 232px;
	height: 35px;
	font-size: 12px;
	text-transform: uppercase;
	color: #37447c;
	font-weight: 400;
	background-color: #fff;
	border: 1px solid rgba(74, 85, 132,0.3);
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin: 0 20px 0 0px;
}
header .sign {
	display: inline-block;
	vertical-align: middle;
}
header .regis {
	display: inline-block;
	margin-right: 17px;
}
 
header form {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 20px;
}
header input {
	width: 435px;
	height: 38px;
	border: 1px solid rgba(174, 174, 174,0.5);
	font-size: 12px;
	padding: 0 20px 0 48px;
	color: #929292;
}
header form button {
	width: 45px;
	height: 38px;	
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border: 0;
	background: url(../img/header/search.png) center no-repeat;
	cursor: pointer;
}
header .cart {
	display: inline-block;
	vertical-align: bottom;
	width: 180px;
	height: 52px;
	background: #414141 url(../img/header/cart.png)  120px  4px no-repeat;
	padding: 8px 15px;
}
header .cart .number,
header .cart span {
	font-size: 12px;
	color: rgba(255,255,255,00.5);
	font-weight: 400;
}
header .cost,
header .cost span {
	font-size: 15px;
	color: #f89a3a;
	font-weight: bold;
	line-height: 20px;
}

/****************************/
header .nav_menu {
	clear: both;
	height: 55px;
	background: #ececec;
	box-shadow: 0 4px 4px rgba(31, 31, 31,0.2);
}
 .catalog {
	width: 265px;
	display: inline-block;	
}
.catalog > li > a {
	width: 265px;
	display: inline-block;
	height: 55px;
	background: #e53516;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #ecf0ff;
	line-height: 55px;
	padding: 0 30px;
	position: relative;
}
.catalog > li > a img{
	position: absolute;
	right: 25px;
	margin-top: 23px;
}

 .list_catalog {
	background: #ff4c2d;
	display: table;
	width: 100%;
    display: none;
}
 .list_catalog > li{
	list-style:disc;
	list-style-type: none;
	margin-left: 0;
	font-size: 15px;
	color: #fdc82b;
 
 
}
 .list_catalog > li:last-child{
	border-width: 0;
}
 
 .list_catalog > li > a {
	display: list-item;
 	list-style:disc;
	list-style-type: disc;
	list-style-position: inside;
	text-decoration: none;
	line-height: 20px;
	width: 265px;
	min-height: 40px;
	padding: 12px 0 12px 30px;
	border-bottom: 1px solid #e53516;	
	font-size: 15px;
	color: #fdc82b;	
}
.list_catalog > li > a h5{
	font-size: 15px;
	display: inline-block;
	font-weight: 400;
	color: #fff;	
	width: 190px;
	padding-left: 10px;
	vertical-align: top;
}
 .list_catalog > li.active > a h5{
	font-weight: bold;
}

.list_catalog > li.active > a{
	background: #ff4f31;
	border-bottom: 0;
}
/**********************/
.list_catalog > li.active > .list_lvl2{
	display: table;
}
.list_lvl2 a {
	display: list-item;
 	list-style-image: url(../img/header/arrow_right.png);
	list-style-position: inside;
	text-decoration: none;
	line-height: 14px;
	width: 265px;
	padding: 0 0 0 30px;
	font-size: 15px;
	color: #fdc82b;	
	margin-top: 15px;
}
 .list_catalog a h5{
	font-size: 14px;
	display: inline-block;
	font-weight: 400;
	color: #000;	
	width: 210px;
	padding-left: 10px;
	vertical-align: top;	
	line-height: 18px;
}
.list_lvl2   {
	background: #f24223;
	display: none;
	width: 100%;
	padding-bottom: 15px;
}
 
header .nav_page {
	display: inline-block;
	vertical-align: top;
	padding-left: 45px;
}
header .nav_page li {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
}
header .nav_page li:last-child{
	margin-right: 0;
}
header .nav_page a {
	font-size: 15px;
	height: 55px;
	display: block;
	color: #414141;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	line-height: 55px;
}
header .nav_page a span{
	font-size: 15px;
	height: 55px;
	display: inline-block;
	color: #414141;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	line-height: 55px;
	color: #e53516;
	vertical-align: middle;
	margin-left: 10px;
}
header .nav_page .action img {
	vertical-align: middle;
	 
}

 
/*footer*/
footer .footer_top {
	background: #2e2e2e;
	display: table;
	width: 100%;
	min-height: 95px;
}
footer .footer_top .container {
	padding-top: 18px;
}
footer .logo {
	display: inline-block;
	vertical-align: middle;
}
footer .footer_top a{
	font-size: 18px;
	color: #e6e6e6;
	display: inline-block;
	margin-left: 10px;
	font-weight: 400;
	text-decoration: none;
}
footer ul.contact {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 20px;
	top: 30px;
}
footer .contact li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
footer .footer_top .mail {
	font-size: 14px;
}
footer button {
	width: 235px;
	height: 35px;
	border: 0;
	background: #ff4c2d;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	margin-left: 10px;
}
footer p {
	font-size: 12px;
	color: #e6e5e6;
	font-weight: 400;
	margin-left: 40px;
}
footer  .container .nav_footer {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
footer .container .nav_footer .title {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	color: #414141;
	margin-top: 40px;
	margin-bottom: 16px;
}
footer .container .nav_footer ul li {
 	list-style:disc;
	list-style-type: disc;
	list-style-position: inside;
	text-decoration: none;
 
	font-size: 14px;
	color: #e53516;		
}
footer .container .nav_footer ul a {
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
	color: #414141;
	width: 75%;
	display: inline-block;
	margin-bottom: 14px;
	vertical-align: TOP;
 	
}
footer .container .nav_footer.catalog li:last-child {
	list-style: none; 
}
footer .container .nav_footer.catalog li:last-child  a{
	text-transform: uppercase;
	margin-left: 10px;
}
footer .nav_footer.social{
	padding-left: 50px;
}
footer .nav_footer.social ul li {
	list-style-type: none;
	list-style: none;
	display: inline-block;
	margin-right: 12px;
}